html {
  height: 95%;
}

body {
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: 30%;
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Fejléc*/

header {
  width: 980px;
  height: 40px;
  margin: 5px;
  padding: 0;
  background: orange;
  color: white;
}

header h1 {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}

navigation {
  width: 980px;
  margin: 0;
  padding: 0;
  text-align: center;
}

navigation ul {
  width: 980px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 10%
}

navigation ul li {
  display: inline;
  margin-right: 1em;
}

#content {
  width: auto;
  min-height: 100%;
  height: auto;
  padding: 0 30px;
}

#content_reg {
  width: 920px;
  min-height: 40%;

}

#search {
  width: 30%;
  height: 15%;
  border: 1px solid orange;
  font-size: 20px;
  margin-left: 10%;
  margin-top: 10%;
  padding: 2% 2%;
  text-align: center;
  background-color: orange;
}
#message {
  color: green;
  display: inline-block;
  border: 2px solid green;
  padding: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

footer {
  width: 980px;
  height: 15px;
  padding-bottom: 10px;
  margin: 5px;
  background: orange;
  color: white;

}
/* Button */

.nyomogomb, a {
  background-color: white;

  color: black;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 14px 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.8s ease;

}
.nyomogomb:hover, a:hover {
  background-color: orange;
  color: white;

}


/* Actions */

/*a {
  background-color: orange;
  color: white;
  padding: 12px 17px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}
a:hover {

}
*/
.actions {
  margin-bottom: 1em;

}


/* Lists */

table {
  border-collapse: collapse;
  vertical-align: top;
  width: 100%;
}

table.list {

}

table.list tr td {
  border: 1px solid #999999;
  width: auto;
  text-align: center;
}

table.list tr th {
  border: 1px solid orange;
  background: orange;
  color: white;
  text-align: center;
  width: auto;
}

/* Forms */

dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: bold;
  width: 125px;
}

dd {
  float: left;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

/*.submit {

  background-color: orange;
  font-style: bold;
  font-weight: bolder;
  font-size: 20;
  color: white;
  cursor: pointer;
}
*/


#form {
  padding-left: 30px;
}


/* Errors */

.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}
